@model PagedList.IPagedList<Domain.Employee>
@using PagedList.Mvc
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>Tên</th>
        <th>Tuổi</th>
        <th>Lương</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Age
        </td>
        <td>
            @item.Slary
        </td>
    </tr>      
    }
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount

    @Html.PagedListPager(Model,page=>Url.Action("GetPaging", new { page=page}),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() {
        HttpMethod="GET",UpdateTargetId="employee_area"}))
</table>
